.autocomplete__wrapper {
  position: relative;
}
.autocomplete__hint,
.autocomplete__input {
  @include border-box-sizing;
  @include typeset(
    $theme-form-font-family,
    $theme-body-font-size,
    $theme-input-line-height
  );
  @include u-border(1px, "primary");
  appearance: none;
  border-radius: 0;
  color: color("ink"); // standardize on firefox
  display: block;
  height: units(5);
  max-width: units($theme-input-max-width);
  width: 100%;
}
.autocomplete__input {
  background-image: url("../img/search-primary.svg");
  background-position: right units(1) center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
}
.autocomplete__hint {
  color: color("base");
  position: absolute;
}
.autocomplete__input--default {
  padding: units(1);
  padding-right: units(3);
}
.autocomplete__menu {
  @include u-bg("white");
  @include u-border(1px, "base");
  border-top: 0;
  margin: 0;
  max-height: 342px;
  max-width: units($theme-input-max-width);
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
.autocomplete__menu--visible {
  display: block;
}
.autocomplete__menu--hidden {
  display: none;
}
.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}
.autocomplete__menu--inline {
  position: relative;
}
.autocomplete__option {
  @include u-border-bottom(1px, "base");
  cursor: pointer;
  display: block;
  position: relative;
}
.autocomplete__option > * {
  pointer-events: none;
}
.autocomplete__option:first-of-type {
  border-top-width: 0;
}
.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}
.autocomplete__option--focused,
.autocomplete__option:hover {
  @include u-bg("base-lightest");
}
.autocomplete__option--no-results {
  cursor: not-allowed;
}
.autocomplete__hint,
.autocomplete__option {
  outline: 0 !important;
  padding: units(1);
}
