.resource-main {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 0;
  padding-right: 1em;
}

.resource-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 0;
}

.category-introduction {
  padding-top: 0 !important;
}
