<div class="data-standard-entry grid-row grid-gap display-flex margin-top-2 padding-bottom-2">

  <div class="desktop:grid-col-8">
    
    {% if page.permalink == standard.permalink %}
        <h2 id="{{ standard.name | slugify }}" class="margin-top-0">{{ standard.name }}</h2>
    {% else %}  
      <a href="{{ standard.permalink | prepend: site.baseurl }}">
        <h2 id="{{ standard.name | slugify }}" class="margin-top-0">{{ standard.name }}</h2>
      </a>
    {% endif %}

    <p>
      {% if standard.description %}
        {{ standard.description | default: "No description provided" }}
      {% endif %}
    </p>
  </div>

  <div class="desktop:grid-col-4 no_toc_section standard-sidebar">

    {% if standard.type != "" %}

      {% assign type-icon = "" %}
      {% assign type-link = "" %}
      {% if standard.type == "package" %}   {% assign type-icon = "tools" %}  {% assign type-link = "#data-standards-package" %}  {% endif %}
      {% if standard.type == "component" %} {% assign type-icon = "wrench" %} {% assign type-link = "#data-standards-component" %} {% endif %}
      {% if standard.type == "framework" %} {% assign type-icon = "toolbox" %}{% assign type-link = "#data-standards-framework" %}{% endif %}

    <div class="standard-type">
        <h3 class="margin-top-0 margin-bottom-0">Type</h3><a href="{{ site.baseurl }}/standards/concepts/{{ type-link }}" class="margin-top-05 margin-bottom-205"><i class="fa fa-{{ type-icon }}"></i><span>{{ standard.type | capitalize }}</span></a>
    </div>
    {% endif %}

    {% if standard.website != "" and standard.documentation != "" %}
    <ul class="usa-sidenav standard-links">
      <li class="usa-sidenav__item usa-h2 standard-website">
        <a href="{{ standard.website }}"><i class="fa fa-desktop"></i>Website</a>
      </li>
      <li class="usa-sidenav__item usa-h2 standard-documentation">
        <a href="{{ standard.documentation }}"><i class="fa fa-file-alt"></i>Documentation</a>
      </li>
    </ul>
    {% endif %}       

    <h3 class="margin-top-0 margin-bottom-0 standard-publisher">Publisher</h3>
    <p class="margin-top-05 margin-bottom-205">
      {{ standard.publisher | default: "No publisher provided" }}
    </p>

    {% if page.permalink != standard.permalink %}
    <h3 class="margin-top-0 margin-bottom-0">Keywords</h3>
    <p class="margin-top-05 margin-bottom-205">
      {% for tag in standard.tags %}
        {% assign slug_tag = tag | slugify %}
        <a href="{{ "/keywords/" | append: slug_tag | relative_url }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
      {% else %}
        This standard has no keywords.
      {% endfor %}
    </p>
    {% endif %} 

  </div>


{% if page.permalink == standard.permalink %}
  <div class="desktop:grid-col-12">

      {% if standard.usage_notes != "" and standard.usage_notes != null %}
      <h4 class="margin-bottom-0">Usage Notes</h4>
      <p>{{ standard.usage_notes }}</p>
      {% endif %}

      {% if standard.policies_authorities != "" and standard.policies_authorities != null %}
      <h4 class="margin-bottom-0">Associated Policies & Authorities</h4>
      <p>{{ standard.policies_authorities }}</p>
      {% endif %}

      {% if standard.date_published or standard.jurisdiction or standard.implementing_orgs or standard.level_of_use %}

      <h4 class="margin-bottom-0">Additional Information</h4>

      <table>
        <tr>
            <th>Date Published</th>
            <td>{{ standard.date_published | date: "%B %e, %Y" | default: "No date provided" }}</td>
        </tr>
        <tr>
            <th>Jurisdiction</th>
            <td>{{ standard.jurisdiction | default: "No information provided" }}</td>
        </tr>
        <tr>
            <th>Implementing Organizations</th>
            <td>{{ standard.implementing_orgs | default: "No information provided" }}</td>
        </tr>
        <tr>
            <th>Level of Use</th>
            <td>{{ standard.level_of_use | default: "No information provided" }}</td>
        </tr>
      </table>

      {% endif %}

    <h3 class="margin-top-0 margin-bottom-0">Keywords</h3>
    <p class="margin-top-05 margin-bottom-205">
      {% for tag in standard.tags %}
        {% assign slug_tag = tag | slugify %}
        <a href="{{ "/keywords/" | append: slug_tag | relative_url }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
      {% else %}
        This standard has no keywords.
      {% endfor %}
    </p>      


  </div>
{% endif %}

</div>
