<!doctype html>
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding-top: 100px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
  img { display: block; width: 200px;}
</style>


<article>
  <img src=https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.svg alt="data.gov logo">
  <h1>Site not available</h1>
    <div>
        <p>
          The Federal Government is currently shut down. As a result, this site is unavailable until further notice. Please visit <a href="https://usa.gov">https://usa.gov</a> for more information.
        </p>
    </div>
</article>