<footer class="usa-footer usa-footer--slim" role="contentinfo">
  {% unless page.no_top_link %}
  <div class="grid-container usa-footer__return-to-top">
    <a href="#main-content">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer__secondary-section bg-primary">
    <div class="grid-container">
      <div class="display-flex flex-align-center margin-bottom-4">
        <a href="https://www.whitehouse.gov/omb/"
          ><img
            class="width-10 display-block"
            src="{{ '/assets/img/eop-omb.png' | relative_url }}"
            alt="Office of Management and Budget"
        /></a>
        <div class="separator display-flex flex-align-center">
         <a href="https://www.gsa.gov"
          ><img
            class="width-10 display-block"
            src="{{ '/assets/img/gsa-logo.png' | relative_url }}"
            alt="General Services Administration"
        /></a>
        </div>
        <div class="separator display-flex flex-align-center">
          <a href="https://www.archives.gov/ogis"
            ><img
              class="height-10 display-block"
              src="{{ '/assets/img/ogis-nara-logo.png' | relative_url }}"
              alt="NARA Office of Government Information Services"
          /></a>
        </div>
      </div>
      <div class="grid-row">
        <div class="desktop:grid-col-10">
          <div class="measure-6 font-sans-2xs">
            <p class="margin-top-0">
              The Federal Enterprise Data Resources content is maintained by the <a href="">Data.gov</a> Program Management Office in <a href="https://www.gsa.gov/tts">GSA TTS</a>, the <a href="https://www.archives.gov/ogis">Office of Government and Information Services (OGIS)</a>, and the <a href="https://www.whitehouse.gov/omb/">Office of Management and Budget (OMB)</a>. </p>
            <p>
              Help us improve this site
              on <a href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/edit/{{ site.github.default_branch }}/pages/{{ page.path }}">GitHub</a>.
            </p>
          </div>
        </div>
        <div class="desktop:grid-col-2">
          <ul class="add-list-reset font-sans-2xs">
            <li class="margin-bottom-1">
              <a href="https://www.data.gov/">Data.gov</a>
            </li>
            <li class="margin-bottom-1">
              <a href="{{ '/privacy/' | relative_url }}">Privacy policy</a>
            </li>
            <li class="margin-bottom-1">
              <a href="https://www.data.gov/contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
