<div id="glossary" class="glossary text-base-lightest margin-0 overflow-y-scroll padding-4 pin-right pin-y position-fixed width-mobile z-top" aria-describedby="glossary-result" aria-hidden="true">
  <div class="display-flex flex-column flex-align-end">
    <button title="Close glossary" class="js-glossary-close display-flex flex-align-center">
      <span class="margin-right-1">Close</span>
      <img src="{{ '/assets/uswds/img/close-white.svg' | relative_url }}" alt="Hide glossary" />
    </button>
  </div>

  <h2 class="text-normal">Glossary</h2>
  <p>This section contains explanations of common terms referenced on resources.data.gov.</p>
  <label for="glossary-search" class="usa-label">
    Search for a term:</label>
  <input id="glossary-search" class="js-glossary-search usa-input margin-bottom-4" type="text" />
  <div class="glossary__content" id="glossary-result">
    <ul class="js-glossary-list add-list-reset"></ul>
  </div>
</div>
