<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ '/' | relative_url }}" title="Home" aria-label="Home"><img src="{{ '/assets/img/resources-heading--desktop--light.svg' | relative_url }}" alt="{{site.title}}" class="display-block" /></a></em>
    </div>
    <button class="usa-menu-btn text-semibold">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner"><button class="usa-nav__close"><img src="{{ '/assets/uswds/img/close.svg' | relative_url }}" alt="close" /></button>

      {% assign primary_links = site.data.navigation %} {% if primary_links %}
      <ul class="usa-nav__primary usa-accordion">
        {% for _section in primary_links %}
        <li class="usa-nav__primary-item">
          {% if _section.children %}
            <button class="usa-accordion__button usa-nav__link{% if page.primary_nav_section == _section.text %} usa-current{% endif %}" aria-expanded="false" aria-controls="basic-nav-section-{{ forloop.index }}"><span>{{ _section.text | escape }}</span></button>
            <ul id="basic-nav-section-{{ forloop.index }}" class="usa-nav__submenu">
              {% for subnav in _section.children %}
                <li class="usa-nav__submenu-item">
                  <a href="{{ subnav.url | prepend: site.baseurl }}">{{ subnav.text | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a class="usa-nav__link{% if page.primary_nav_section == _section.text %} usa-current{% endif %}" href="{{ _section.url | prepend: site.baseurl }}"><span>{{ _section.text | escape }}</span></a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="usa-nav__secondary">

      {% if site.searchgov_affiliate %}
      <form id="search_form" class="usa-search usa-search--small" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="&#x2713;">
        <input type="hidden" name="affiliate" id="affiliate" value="{{ site.searchgov_affiliate }}">
        <div role="search">
          <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
          <input class="usa-input usagov-search-autocomplete" id="extended-search-field-small" type="search" name="query" autocomplete="off">
          <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
        </div>
      </form>
      {% endif %}


      </div>
    </div>
  </nav>
</header>
