<div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__identity" aria-label="Agency description">
                <p class="usa-identifier__identity-domain">resources.data.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    An official website of the Office of Management and Budget, the General Services Administration, and the
                    Office of Government Information Services.
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,,,">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.whitehouse.gov/omb/" class="usa-identifier__required-link usa-link">About OMB</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="https://www.gsa.gov/website-information/website-policies#accessibility"
                        class="usa-identifier__required-link usa-link"
                        >Accessibility support</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
                        class="usa-identifier__required-link usa-link"
                        >FOIA requests</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
                        class="usa-identifier__required-link usa-link"
                        >No FEAR Act data</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsaig.gov" class="usa-identifier__required-link usa-link"
                        >Office of the Inspector General</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="https://www.gsa.gov/reference/reports/budget-performance"
                        class="usa-identifier__required-link usa-link"
                        >Performance reports</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="https://www.gsa.gov/website-information/website-policies#privacy"
                        class="usa-identifier__required-link usa-link"
                        >Privacy policy</a
                    >
                </li>
            </ul>
        </div>
    </nav>
    <section
        class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services,,,"
    >
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
    </section>
</div>
