<div class="measure-5">
  <div class="grid-row bg-base-lightest display-none tablet:display-flex padding-205">
    <div class="tablet:grid-col">
      <span class="font-sans-xs margin-0 text-bold">Steps</span>
    </div>
    <div class="tablet:grid-col">
      <span class="font-sans-xs margin-0 margin-bottom-2 text-center text-bold display-block">Who is involved?</span>
      <div class="grid-row">
        <div class="tablet:grid-col">
          <div class="grid-row">
            <div class="grid-col text-center font-sans-2xs">Agency</div>
            <div class="grid-col text-center font-sans-2xs">Public</div>
            <div class="grid-col text-center font-sans-2xs">OMB</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tablet:border-base tablet:border-bottom">
    {% for step in include.steps %}
    <div class="grid-row border border-base tablet:border-base tablet:border-0 tablet:border-top margin-y-205 tablet:margin-y-0 padding-205">
      <div class="tablet:grid-col">
        <h5 class="font-sans-xs margin-y-0">Step {{forloop.index}}</h5>
        <p class="tablet:margin-y-0" markdown="1">{{step.content}}</p>
      </div>
      <div class="tablet:grid-col">
        <h5 class="font-sans-xs margin-y-2 tablet:display-none">Who is involved?</h5>
        <div class="grid-row height-full">
          <div class="grid-col display-flex flex-align-center tablet:flex-justify-center flex-column"><span class="tablet:display-none margin-bottom-2">Agency</span>{% if step.agency %}<img src="{{ '/assets/img/icon-check.svg' | relative_url }}" alt="Checked" />{%
            endif %}</div>
          <div class="grid-col display-flex flex-align-center tablet:flex-justify-center flex-column"><span class="tablet:display-none margin-bottom-2">Public</span>{% if step.public %}<img src="{{ '/assets/img/icon-check.svg' | relative_url }}" alt="Checked" />{%
            endif %}</div>
          <div class="grid-col display-flex flex-align-center tablet:flex-justify-center flex-column"><span class="tablet:display-none margin-bottom-2">OMB</span>{% if step.omb %}<img src="{{ '/assets/img/icon-check.svg' | relative_url }}" alt="Checked" />{%
            endif %}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
