<div class="resource">
  <div class="resource-main">
    <h3>{{ resource.name }}</h3>

    <p>
      {% if resource.description %}
        {{ resource.description | default: "No description provided" }}
      {% else if resource.shortdescription %}
        {{ resource.shortdescription | default: "No short description provided" }}
      {% endif %}
    </p>

    <p class="resource-source">
      Source: {{ resource.source | default: "No source provided" }}
    </p>

    <p class="resource-link">
      {% if resource.collection == "summaries" %}
        <a href="{{ resource.link }}">Link to Resource</a>
      {% else %}
        <a href="{{ "/resources/" | append: resource.slug | relative_url }}">
          Learn More
        </a>
      {% endif %}
    </p>
  </div>

  <div class="resource-side no_toc_section">
    <h4>Keywords</h4>
    <p>
      {% for tag in resource.tags %}
        <div>
          {% assign slug_tag = tag | slugify %}
          <a href="{{ "/keywords/" | append: slug_tag | relative_url }}">
            {{ tag }}
          </a>
        </div>
        {% else %}
        This resource has no keywords.
      {% endfor %}
    </p>

    {% if resource.format %}
      <h4>Format</h4>
      <p>
        {{ resource.format }}
      </p>
    {% endif %}
  </div>
</div>
