---
---

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!-- [if gt IE 8]><! -->
<html lang="en">
<!-- <![endif] -->

  <head>
    {% include google-analytics.html %}
    {% include meta.html %}
    {% include styles.html %}
  </head>

  <body class="{{ layout.class }} {{ page.class }}">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include header.html %}
    <div role="main">
      {{ content }}
    </div>
    {% include footer.html %}
    {% include glossary.html %}
    {% include scripts.html %}
  </body>

</html>
