---
layout: default
class: home
---

<div class="bg-primary text-white margin-bottom-3 tablet:margin-bottom-6" id="main-content">
  <div class="grid-container padding-y-3 tablet:padding-y-6">
    <div class="measure-1 font-heading-md tablet:font-heading-xl line-height-serif-4 margin-bottom-4">
      {{page.tagline}}
    </div>
    <a href="{{page.button.href | relative_url}}" class="usa-button usa-button--secondary width-auto">{{page.button.text}}</a>
  </div>
</div>

<div class="grid-container margin-bottom-3 tablet:margin-bottom-6 usa-layout__docs-main">
  <div class="padding-bottom-205">
    {{ content }}
  </div>

  <div class="grid-row grid-gap border-top">
    <div class="grid-col-4">
      <h2>Browse resources by category</h2>
    </div>
    <div class="grid-col-8 padding-205">
      {% for category in site.categories %}
        <div class="display-flex flex-column padding-205 tablet:margin-bottom-0 {% if forloop.last == false %}border-bottom{% endif %}">
          <h3 class="margin-top-0 text-primary-vivid">{{ category.category_name }}</h3>
          <p class="text-ink margin-bottom-0 line-height-sans-4">{{ category.description }}</p>
          {% assign category_slug = category.category_name | slugify %}
          <a href="{{ "/resources/" | append: category_slug | relative_url }}">
            See all {{ category.category_name }} resources &gt;
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="grid-row grid-gap border-top">
    <div class="grid-col-4">
      <h2>Browse resources by keyword</h2>
    </div>
    <div class="grid-col-8 padding-205 display-flex flex-row flex-wrap">
      {% for tag in site.resource_tags %}
        <div class="border border-base radius-lg padding-1 hover:bg-base-lightest hover:shadow-2 margin-1 grid-col-3 display-flex flex-justify-center">
          {% assign slug_tag = tag | slugify %}
          <a href="{{ "/resources/keywords#" | append: slug_tag | relative_url }}" class="text-no-underline">
            {{ tag }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
