---
layout: default
class: home
---

<div class="bg-primary text-white margin-bottom-1 tablet:margin-bottom-1" id="main-content">
  <div class="grid-container padding-y-3 tablet:padding-y-6">
    <div class="measure-1 font-heading-md tablet:font-heading-xl line-height-serif-4 margin-bottom-4">
      {{page.tagline}}
    </div>
    <a href="{{page.button.href | relative_url}}" class="usa-button usa-button--outline usa-button--inverse width-auto">{{page.button.text}}</a>
  </div>
</div>

<div class="grid-container margin-bottom-3 tablet:margin-bottom-6 usa-layout__docs-main">
  <div>
    {{ content }}
  </div>

  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-4">
      <h1>Browse resources by category</h1>
    </div>
    <div class="desktop:grid-col-8 padding-205">
      <!-- rely on site navigation to guide which resources show up -->
      {% assign resources = site.data.navigation | where: "text", "Resources" | first %}
      {% for resource in resources.children %}
        {% assign category = site.categories | where: "category_name", resource.text | first %}
        {% if category.show_on_front_page %}
          <div class="display-flex flex-column padding-205 tablet:margin-bottom-0 {% if forloop.last == false %}border-bottom{% endif %}">
            <h2 class="margin-top-0 margin-bottom-0">{{ category.category_name }}</h2>
            <p class="text-ink line-height-sans-4">{{ category.description }}</p>
            <a href="{{ category.url | relative_url }}">
              Browse {{ category.category_name }} &gt;
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="grid-row grid-gap border-top">
    <div class="desktop:grid-col-4">
      <h1>Browse resources by keyword</h1>
    </div>
    <div class="desktop:grid-col-8 padding-top-205 display-flex flex-row flex-wrap">
      {% for tag in site.keywords %}
        <div class="mobile-lg:grid-col-6 tablet:grid-col-6 desktop:grid-col-4">
          <div class="border-primary-vivid border-2px radius-lg padding-1 hover:bg-base-lightest hover:shadow-2 margin-05 display-flex flex-justify-center text-center">
            <a href="{{ tag.url | relative_url }}" class="text-no-underline display-flex flex-align-center">
              {{ tag.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
