---
layout: default
---

{% assign category = site.categories | where: "category_name", page.category | first %}

<div class="category-introduction usa-layout-docs usa-section" id="main-content">

  <div class="bg-primary text-white padding-bottom-4">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <h1 class="margin-bottom-0">{{ page.category_name }}</h1>
        <p>
          {{ category.description | default: "No introductory text provided for this category." }}
        </p>
      </div>
    </div>
  </div>

  <div class="grid-container">
    {% include breadcrumb.html %}
    <div class="grid-row grid-gap">
      {% include sidenav.html %}
      <div class="usa-layout__docs-main desktop:grid-col-12 usa-prose">

        {% assign resources = site.resources | concat: site.summaries | where: "category", page.category_name | sort: "name" %}

        {% for resource in resources %}
          {% include resource_block.html resource=resource %}
{% else %}
          <div class="resource-main">
            <p>No categories match the category <code>{{ page.category }}</code>.</p>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
