---
layout: page
---
<div class="resource">
  <div class="resource-main">
    <h2>Description</h2>
    {{ page.description | default: "No description provided." | markdownify }}

    <h2>Details</h2>
    {{ page.details | default: "No details provided." | markdownify }}

    <h2>Examples</h2>
    {{ page.examples | default: "No examples provided." | markdownify }}

  </div>

  <div class="resource-side">
    <h3>Source</h3>
    {{ page.source | default: "No source provided." | markdownify }}

    <h3>Category</h3>
    <p>
      <!-- special case communities -->
      {% if page.category == "Communities" %}
        <a href="{{ page.category | slugify | relative_url }}">
          {{ page.category }}
        </a>
      {% else %}
        {% assign category_slug = page.category | slugify %}
        <a href="{{ "/resources/" | append: category_slug | relative_url }}">
          {{ page.category }}
        </a>
      {% endif %}
    </p>
    <h3>Keywords</h3>
    <p>
      {% assign tags = page.tags | join: " " | split: "," %}
      {% for tag in tags %}
        {% assign slug_tag = tag | slugify %}
        <a href="{{ "/resources/keywords#" | append: slug_tag | relative_url }}">
          {{ tag }}
        </a>
      {% endfor %}
    </p>
    <h3>Format</h3>
    <p>
      {% assign slug_format = page.format | slugify %}
      <a href="{{ "/resources/formats#" | append: slug_format | relative_url }}">
        {{ page.format }}
      </a>
    </p>
  </div>
</div>
