---
layout: default
---
<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% include sidenav.html %}
      <div class="usa-layout__docs-main desktop:grid-col-9 usa-prose">
        
      <h1>{{ page.title | escape }}</h1>
      <ul>
        {% for resource in page.resources %}
          <li><a href="{{ resource.url }}">{{ resource.text | escape }}</a></li>
        {% endfor %}
      </ul>

      </div>
    </div>
  </div>
</main>





