---
layout: toc
---
<div class="display-flex border-bottom border-base padding-bottom-2">
  <div class="resource-main">
    <h1 class="margin-top-0 margin-bottom-0">{{ page.title }}</h1>

    <h2>Overview</h2>
    {{ page.description | default: "No description provided." | markdownify }}

    <div class="display-flex margin-top-2 margin-bottom-2 border-bottom border-top border-base no_toc_section">
      <div class="padding-2">
        <h3>Source</h3>
        {{ page.source | default: "No source provided." | markdownify }}
      </div>

      <div class="padding-2">
        <h3>Category</h3>
        <p>
          <!-- special case communities -->
          {% if page.category == "Communities" %}
            <a href="{{ page.category | slugify | relative_url }}">
              {{ page.category }}
            </a>
          {% else %}
            {% assign category_slug = page.category | slugify %}
            <a href="{{ "/resources/" | append: category_slug | relative_url }}">
              {{ page.category }}
            </a>
          {% endif %}
        </p>
      </div>

      <div class="padding-2">
        <h3>Keywords</h3>
        <p>
          {% for tag in page.tags %}
            <div>
              {% assign slug_tag = tag | slugify %}
              <a href="{{ "/keywords/" | append: slug_tag | relative_url }}">
                {{ tag }}
              </a>
              {% if forloop.last != true %}
                ,
              {% endif %}
            </div>
          {% endfor %}
        </p>
      </div>

      {% if page.format %}
        <div class="padding-2">
          <h3>Format</h3>
          <p>
            {{ page.format }}
          </p>
        </div>
      {% endif %}
    </div>

    <h2>Details</h2>
    {{ page.details | default: "No details provided." | markdownify }}

    <h2>Examples</h2>
    {{ page.examples | default: "No examples provided." | markdownify }}

    {% if page.policy_tags %}
      <h2>Policy References</h2>
      <div>
        <ul>
          {% for tag in page.policy_tags %}
            {% assign slug_tag = tag | slugify %}
            <li>
              <a href="{{ "/policy_tags/" | append: slug_tag | relative_url }}">
                {{ tag }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
