---
layout: default
---

<div class="usa-layout-docs usa-section breadcrumb-page" id="main-content">
  <div class="grid-container padding-top-4">
    <div class="grid-row grid-gap">
      <div class="usa-layout__docs-sidenav desktop:grid-col-3 margin-top-4 desktop:margin-top-0 padding-top-4 order-last desktop:padding-top-0 desktop:order-first border-base border-top desktop:border-top-0">
        {{ content | toc_only }}
      </div>

      <div class="usa-layout__docs-main desktop:grid-col-9 usa-prose">
        {{ content | inject_headers }}
      </div>
    </div>
  </div>
</div>
